@import "variables.scss";
@import "../bourbon/_bourbon.scss";

$max_width:1170px;
// $base-font-size: 16px;
// $base-line-height: 28px;
// $rhythm-unit: 'rem';
// $rem-with-px-fallback:true;
$large_screen:'min-width: 1200px';
$medium_screen:'min-width: 992px';
$small_screen:'min-width: 768px';
$verysmall_screen:'max-width: 767px';
$small_mobile_screen:'max-width:480px';

$navy_blue_bg:#002147;
$white_blue:#e1efff;
$blue_bg:#0b70e4;
$orange_bg:#ff3d00;
$dark_orange_bg:#b92c00;
$light_grey:#e3e3e3;
$dark_grey:#333333;
$text_color:#282828;
$test_color:#3fccf6;
$gold_color:#ffd423;
$brown_color:#501a00;
